#countLabel {
  display: block;
  text-align: center;
  font-size: 5em;
  font-family: Helvetica;
}

#btnContainer {
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: antiquewhite;
  background-color: rgb(15, 15, 88);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
}

.buttons:hover {
  background-color: rgb(4, 4, 45);
}